/* ANIMACION */
.ring {  
    position: relative; /* Esto permite que los hijos (las i) se posicionen correctamente */  
    display: block; /* Asegura que el contenedor de anillos esté en el flujo del documento */  
    width: 250px; /* Ajusta el tamaño según la imagen */  
    height: 250px; /* Ajusta el tamaño según la imagen */  
    margin: auto; /* Para centrar el div ring dentro de su contenedor */  
}

.ring i {  
    position: absolute;   
    border: 2px solid #470a7c; 
    border-radius: 50%; /* Hace que los elementos sean circulares */  
    display: block !important; /* Para que los elementos sean visibles */  
}  

.ring i:nth-child(1) {  
    width: 100%; /* Ajusta el tamaño según lo necesites */  
    height: 100%; /* Ajusta el tamaño según lo necesites */  
    animation: animate 6s linear infinite; /* Llama a la animación */  
}  

.ring:hover i:nth-child(1) {  
    border: 4px solid #aa1f6e;  
    filter: drop-shadow(0 0 20px #aa1f6e);  
}  

.ring i:nth-child(2) {  
    width: 110%; /* Aumenta el tamaño para dar un efecto de anillo */  
    height: 110%; /* Aumenta el tamaño para dar un efecto de anillo */  
    animation: animate 4s linear infinite; /* Llama a la animación */  
}  

.ring:hover i:nth-child(2) {  
    border: 4px solid #470a7c;  
    filter: drop-shadow(0 0 20px #470a7c);  
}  

.ring i:nth-child(3) {  
    width: 120%;  
    height: 120%;  
    animation: animate2 10s linear infinite; /* Llama a la animación */  
}  

.ring:hover i:nth-child(3) {  
    border: 4px solid #0b4066;  
    filter: drop-shadow(0 0 20px #0b4066);  
}  

/* Animaciones */  
@keyframes animate {  
    0% { transform: scale(1); }  
    50% { transform: scale(1.1); }  
    100% { transform: scale(1); }  
}  

@keyframes animate2 {  
    0% { transform: scale(1); }  
    50% { transform: scale(1.2); }  
    100% { transform: scale(1); }  
}  
